.movieCard{
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}

.movieImage{
    border-radius: 10px;
    background-color: azure;
}


.movieCard:hover{
    cursor:pointer;
    opacity: 0.8;
    transform: scale(1.2); /* This adds a hover effect */
    transition: transform .1s cubic-bezier(0, 0.75, 0, 1);
}


@media (max-width: 560px) {
    .movieImage{
        width: 90%;
        height: auto;
    }
}